@page
@model Tienda_Pedidos.Pages.DescripcionModel
@{
}

<div class="text-center">
    <h1 class="display-4">Quienes somos</h1>
    <p>Somos una tienda busca repartir conocimiento por medio del intercambio de libros, ofrecemos libros de todo tipo y clase.
    Si deseas adquirir uno de nuestros libros, puesdes ir a contacto para brindarte mas imformacion</p>
   
