@page
@model Tienda_Pedidos.Pages.GaleriaModel
@{
}


<div class="text-center">
    <h1 class="display-4">Bienvenidos a nuestra tienda HopeBooks</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img scr="https://estaticos-cdn.prensaiberica.es/clip/d4efe980-568d-42c6-a9d7-4e4325fcc7b2_16-9-discover-aspect-ratio_default_0.jpg" />

    <body>
        <h1>Galeria de imagenes</h1>
        <img scr="https://i.pinimg.com/originals/c5/c9/d4/c5c9d491c4de7c041d3bef4d55aa708a.jpg" width="250" height="250" />
        <img scr="https://estaticos-cdn.prensaiberica.es/clip/d4efe980-568d-42c6-a9d7-4e4325fcc7b2_16-9-discover-aspect-ratio_default_0.jpg" width="250" height="250" />
        <img scr="https://www.loqueleo.com/cl/uploads/2019/02/resized/360_la-nina-que-se-bebio-la-luna.jpg" width="250" height="250" />
        <img scr="https://i.pinimg.com/236x/22/fd/25/22fd25dddb9acdf6a828ee27f184f250.jpg" width="250" height="250" /> <br />
        <img scr="https://i.pinimg.com/originals/7a/39/65/7a3965801bd04bcd501e31765ddd58af.jpg" width="250" height="250" />
        <img scr="https://i.pinimg.com/originals/7a/39/65/7a3965801bd04bcd501e31765ddd58af.jpg" width="250" height="250" />
        <img scr="https://m.media-amazon.com/images/I/51dXKyROV7L.jpg" width="250" height="250" />
        <img scr="https://m.media-amazon.com/images/I/41B8ixiduqL.jpg" width="250" height="250" /> <br />
        <img scr="https://www.upb.edu.co/es/imagenes/imgtipod-blgleyendosinseparador-megustarialeer-1464204951973.jpg" width="250" height="250" />
        <img scr="https://imagenes.elpais.com/resizer/SGENutsqNqc2hPz4aS9Ri8MtGds=/414x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/D2WW45XMHBE3BIM6PKZ6C2G24I.jpg" width="250" height="250" />
        <img scr="https://imagenes.elpais.com/resizer/SGENutsqNqc2hPz4aS9Ri8MtGds=/414x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/D2WW45XMHBE3BIM6PKZ6C2G24I.jpg" width="250" height="250" />
        <img scr="https://imagenes.elpais.com/resizer/SGENutsqNqc2hPz4aS9Ri8MtGds=/414x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/D2WW45XMHBE3BIM6PKZ6C2G24I.jpg" width="250" height="250" />
    </body>
</div>