@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a nuestra tienda HopeBooks</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img scr="https://estaticos-cdn.prensaiberica.es/clip/d4efe980-568d-42c6-a9d7-4e4325fcc7b2_16-9-discover-aspect-ratio_default_0.jpg" />
</div>
